/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('https://img.freepik.com/free-vector/gradient-money-texture-detail_23-2149394647.jpg?ga=GA1.1.2077772045.1738941615&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input {
  text-align: center;
}

select {
  cursor: pointer;
  background-color: #f8f8f8;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #2077d4;
}

h2 {
  margin-top: 15px;
  color: black;
  font-weight: bold;
}
